.sidebar-enter {
  position: fixed;
  top: 96px;
  left: -64px;
  width: 156px;
  transform: translateX(-10%);
  opacity: 0;
}

.sidebar-enter-active {
  position: fixed;
  top: 96px;
  left: 52px;
  width: 156px;
  opacity: 1;
  transform: translateX(0%);
  transition: all 200ms ease;
}

.sidebar-enter-done {
  position: fixed;
  top: 96px;
  left: 52px;
  width: 156px;
  opacity: 1;
}

.sidebar-exit {
  position: fixed;
  top: 96px;
  left: 52px;
  width: 156px;
  opacity: 1;
  transform: translateX(0%);
}

.sidebar-exit-active {
  position: fixed;
  top: 96px;
  left: -64px;
  width: 156px;
  opacity: 0;
  transform: translateX(-10%);
  transition: all 200ms ease;
}

.project-row {
  display: flex;
  flex-direction: row;
  margin: 48px auto;
  text-align: center;
}

.project-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto 12px;
}

.info-card-image-frame {
  overflow: hidden;
  width: 320px;
  height: 320px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px #00000088;
}

.info-card-overlay-closed {
  position: absolute;
  width: 100%;
  height: 3rem;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: #000000aa;
  color: white;
  overflow: hidden;
  transition: all 200ms ease;
}

.info-card-overlay-opened {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-radius: 12px;
  background: #000000cc;
  color: white;
  overflow: hidden;
  transition: all 200ms ease;
}

.name-logo {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.name-logo > * {
  transition: all 200ms ease;
}