@font-face {
  font-family: 'Open Sans';
  src: url(./assets/OpenSans.ttf) format('truetype');
}

.sidebar-enter {
  position: fixed;
  top: 96px;
  left: -64px;
  width: 156px;
  transform: translateX(-10%);
  opacity: 0;
}

.sidebar-enter-active {
  position: fixed;
  top: 96px;
  left: 52px;
  width: 156px;
  opacity: 1;
  transform: translateX(0%);
  transition: all 200ms ease;
}

.sidebar-enter-done {
  position: fixed;
  top: 96px;
  left: 52px;
  width: 156px;
  opacity: 1;
}

.sidebar-exit {
  position: fixed;
  top: 96px;
  left: 52px;
  width: 156px;
  opacity: 1;
  transform: translateX(0%);
}

.sidebar-exit-active {
  position: fixed;
  top: 96px;
  left: -64px;
  width: 156px;
  opacity: 0;
  transform: translateX(-10%);
  transition: all 200ms ease;
}

.project-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 48px auto;
  text-align: top;
}

.project-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 12px;
  text-align: top;
}

.name-logo {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.name-logo > * {
  transition: all 200ms ease;
}